*{
  margin: 0;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.header-video {
    width: 100%;
    object-fit:cover;
    filter: brightness(60%);
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  
}

.video-overlay h1 {
  font-size: 3rem;
  /*margin-bottom: 1rem;*/
}

.video-overlay p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.shop-btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #D6B89D;
  color: #000;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.shop-btn:hover {
  background-color: #DDC6B2;
}
.about {
  margin-top: 0px;
  width: 100%; /*chang for media query for it not to be stretched out*/
  padding: 4rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f7ebe3; 
}

.about-content {
  display: flex;
  max-width: 1100px;
  align-items: center;
  gap: 10rem; 
}

.about-text {
  flex: 1;
  text-align: left;
  font-size: 1.2rem;
  min-width: 300px;
  color: #333;
}

.about-text h2 {
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
  color: #b35b28;
}
.about-text p {
  line-height: 1.6; /*fix for media*/
}

.abt-img {
  flex: 1;
  min-width: 300px;
}

.abt-img img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Mobile */
@media (max-width: 600px) {
  .video-overlay {
    top: 35%;
  }


  .video-overlay h1 {
    font-size: 1.6rem;
  }

  .video-overlay p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .shop-btn {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }
  .about {
    padding: 3rem 1.5rem;
  }

  .about-content {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .about-text {
    text-align: center;
    width: 100%;
    font-size: 1rem;
  }

  .about-text h2 {
    font-size: 1.8rem;
  }

  .abt-img img {
    max-width: 320px;
  }
}

@media (max-width: 900px) {
  .header-container {
    height: 45vh;
  }

  .video-overlay h1 {
    font-size: 2.2rem;
  }

  .video-overlay p {
    font-size: 1.1rem;
  }
   .about-content {
    gap: 3rem;
  }

  .about-text h2 {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1.1rem;
  }

}
