.footer {
  background-color: #2b1a10;
  color: #fff9f5;
  padding: 1.5rem 0;
  text-align: center;
/*  margin-top: 3rem;*/
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.footer-content p {
  font-size: 0.9rem;
  margin: 0;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: #fff9f5;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #b35b28;
}
