.navbar {
  background-color: #44260D;
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.logo {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  object-fit: cover;

}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  margin-left: 1.5rem; /
}

.navbar a:last-of-type {
  margin-right: 1rem;
}

.navbar a:hover {
  color: #ffb703;
}

@media (max-width: 600px) {
  .logo {
    width: 50px;
    height: 50px;
  }

  .navbar {
    padding: 0.7rem 1rem;
  }

  .navbar a {
    font-size: 0.95rem;
    margin-left: 1rem;
    padding: 6px 8px;
  }

  .navbar a:last-of-type {
    margin-right: 0.6rem;
  }
}
