nav {
  background-color: #44260D;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.logo {
   border-radius: 50%; 
   width: 70px;
   height: auto;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffb703;
}
