.reviews-slider {
  width: 80%;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.swiper {
  width: 100%;
  height: 250px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

