.reviews {
  padding: 3rem;
  text-align: center;
  width:100%;
  background-color: #DDC6B2; 
  margin-bottom: 5rem;
  overflow: hidden;
}

.reviews h2 {
  color: #b35b28;
  padding:5px;
  margin-bottom: 10px;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500px;
}

.reviews-slider {
  width: 100%;
  margin: 0 auto;
  min-height: 250px;
}
.reviews-slider .swiper {
  width: 100%;
  overflow: hidden;
}

.review-card {
  background-color: #fff9f5;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-card p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.review-card h4 {
  font-weight: 600;
  color: #b35b28;
  font-size: 0.95rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex ;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  box-sizing: border-box;
  max-width: 100%;
}
.swiper-pagination-bullet {
  background-color: #b35b28 ;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-wrapper {
  padding-bottom: 2rem;
}

.swiper-pagination-bullet {
  background-color: #b35b28 !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
@media (max-width: 600px) {
  .reviews-slider {
    width: 95%;        /* take more width but without overflow */
  }

  .review-card {
    padding: 1rem;
    min-height: 90px;
  }

  .review-card p {
    font-size: 0.9rem;
  }

  .review-card h4 {
    font-size: 0.8rem;
  }
}

