.search-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 30px;
}

.search-title {
  font-size: 2.3rem;
  margin-bottom: 15px;
  color: #b35b28;
}

.search-row {
  margin-top: 10px;
  width: 90%; 
  max-width: 900px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.s-input {
  flex: 1;
  padding: 15px 22px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 40px;
  background: #ffffff;
  box-shadow: 0 4px 10px #fbdfcf;
  transition: all 0.25s ease;
}

.s-btn {
  padding: 13px 25px;
  background:  #d9a25f; 
  color: white;
  border: none;
  border-radius: 35px;
  font-size: 1rem;
}

.s-btn:hover {
  background: #c08e4e;
}


@media (max-width: 600px) {
  .search-row {
    width: 80%;       
    gap: 8px;          /
  }

  .s-input {
    padding: 8px 10px; 
    font-size: 0.9rem;
    border-radius: 25px;
  }

  .s-btn {
    padding: 10px 16px;
    font-size: 0.9rem;
    border-radius: 25px;
    white-space: nowrap;
  }

  .search-title {
    font-size: 1.8rem;
  }
}

