.products{
    text-align: center;
    padding: 20px;
}
.pd-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap :20px;
    justify-items: center;
    margin-top: 20px;
   
}
.pd-card{
   
    border-radius: 10px;
    padding:15px;
    text-align: center;
}

.pd-img {
    width: 100%;
    object-fit: cover;
}

@media (max-width:800px) {
    .pd-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .pd-container {
        grid-template-columns: 1fr;
    }
} 