 .pd-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding:40px;
 }

.pd-card {
  background-color: #ddc6b2;
  border-radius: 12px;
  width: 22%;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.ptitle {
    color: #B35B28;
}

.ptxt {
    color: #444;
}

.pd-img {
  width:100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px; 
}

@media (max-width: 600px) {
  .pd-container {
    padding: 20px;
    gap: 15px;
  }

  .pd-card {
    width: 90%;  
  }

  .pd-img {
    height: 130px;
  }
}


